.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .save{
    font-size: 1rem;
    padding: 10px;
    font-weight: bold;
}
.container {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.notes-list{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}


.note.new {
    background-color: #7FC8F8;
}

textarea{
    border: none;
    resize: none;
    background-color: #7FC8F8;
}

textarea:focus{
    outline: none;
}

.save{
    background-color: #F9F9F9;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.save:hover {
    background-color: #317B22;
    cursor: pointer;
    color: white;
}

.note {
    background-color: #F7FE72;
    border-radius: 10px;
    padding: 1rem;
    min-height: 170px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    white-space: pre-wrap;
}

.delete-icon{
    cursor: pointer;
}

.search {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 1.5em;
    background-color: #122C34;
    color: #fff;
}

.search input {
    background-color: #122C34;
    border: none;
    color: #fff;
    font-size: 1rem;
}

.search input:focus{
    outline: none;
}

.note-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.dark-mode {
    background-color: #000000;
}

.dark-mode h1 {
    color: #fff;
}



 